* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  border: 2px solid black;
  margin: 30px auto;
}

.calculator-card {
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 30px auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.button {
  flex-basis: 25%;
  background-color: #d3d3d0;
  border: 2px solid black;
  padding: 40px;
  text-align: center;
  color: black;
  font-size: 1.5em;
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}

.button:active {
  opacity: 0.8;
}

.equal {
  flex-basis: 50%;
}

.main-cal {
  flex-basis: 100%;
  text-align: right;
  cursor: default;
  font-size: 50px;
  background-color: #353532;
  color: white;
}

.symbol {
  background-color: #f4a805;
}
